$base-color-dark: #585650;
$base-color-light: #f5f5f5;
$font-color-dark: #585650;
$font-color-light: #ececec;

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

